extends ../layout

block content
  h1= titre
  form(
    role='form'
    action='/adherent/ajout'
    method='POST' 
  )
    label Nom :  
    input(type='text' name='nom')
    label Prénom :  
    input(type='text' name='prenom')
    label Adresse :  
    input(type='text' name='adresse')
    label Téléphone :  
    input(type='tel' name='tel')
    label Courriel :  
    input(type='email' name='courriel' placeholder='nom@mail.fr') 
    input(type='submit' value='Envoyer')

  // Affichage des erreurs 
  div(class='rouge')
    ul
      each erreur in listeErreur
        li= erreur.path+':  '+erreur.msg




