extends ../layout

block content
  h1= titre
  form(
    role='form'
    action='/adherent/ajouter-modifier'
    method='POST' 
  )
    // le type hidden : Permet de récupérer de façon transparente l'id quand il existe afin de distinguer la modification d'un ajout
    input(type='hidden' name='id' value=adherent.id)
    // Champs de saisie utilisateur pré-rempli si la valeur (value) existe
    label Nom :  
    input(type='text' name='nom' value=adherent.nom)
    label Prénom :  
    input(type='text' name='prenom' value=adherent.prenom)
    label Adresse :  
    input(type='text' name='adresse' value=adherent.adresse)
    label Téléphone :
    if adherent.tel  
      input(type='tel' name='tel' value=adherent.tel) 
    else  
      input(type='tel' name='tel' placeholder='0102030405')
    label Courriel :  
    if adherent.courriel
      input(type='email' name='courriel' value=adherent.courriel)
    else  
      input(type='email' name='courriel' placeholder='courriel@domain.com') 
    input(type='submit' value='Envoyer')

  // Affichage des erreurs 
  div(class='rouge')
    ul
      each erreur in listeErreur
        li= erreur.path+':  '+erreur.msg




