extends ../layout

block content
  h1= titre
  a(href='/adherent/ajouter') Ajouter un adhérent
  // Affichage des Adhérents
  div
    table 
      thead 
        tr 
          th Nom 
          th Prénom
          th Adresse
          th Courriel
          th Téléphone
          th Action
      tbody 
        each adherent in listeAdherent 
          tr
            td= adherent.nom
            td= adherent.prenom
            td= adherent.adresse
            td= adherent.courriel
            td= adherent.telephone
            td 
              a(title='Supprimer' href='/adherent/supprimer/'+adherent.id) 	&#10060; 
              a(title='Modifier' href='/adherent/modifier/'+adherent.id) 	&#128394; 
        else 
          tr 
            td Pas de données          
      tfoot 
        tr 
          th Nombre adhérent(s)
          td= listeAdherent.length